In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
data = pd.read_csv('Datasets/creditcard.csv')

In [3]:
data['Class'].value_counts() # as you can see dataset is quite imbalanced

0    284315
1       492
Name: Class, dtype: int64

In [4]:
data.groupby(['Class']).mean() # 0 means legit ,,,,, 1 means fraud

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [5]:
# we will use a method called undersampling

In [6]:
legit = data[data.Class == 0]
fraud = data[data.Class == 1]

In [7]:
legit_sample = legit.sample(n=492)

In [8]:
new = pd.concat([legit_sample,fraud],axis=0) #axis=0 is to make sure they are added column wise

In [9]:
new['Class'].value_counts() #now it is sampled perfectly but it is still low

0    492
1    492
Name: Class, dtype: int64

In [10]:
new.shape

(984, 31)

In [11]:
X = new.drop(columns='Class',axis=1)
Y = new['Class']

In [12]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=2)

In [13]:
model = LogisticRegression()

In [14]:
model.fit(X_train,Y_train)
train_model = model.predict(X_train)
train_accuracy = accuracy_score(train_model,Y_train)
print("Train Accuracy: ",train_accuracy)

Train Accuracy:  0.9453621346886912

In [15]:
test_model = model.predict(X_test)
test_accuracy = accuracy_score(test_model,Y_test)
print("Test Accuracy: ",test_accuracy)

Test Accuracy:  0.9390862944162437

In [16]:
df_pred = pd.DataFrame(Y_test.values, columns=['Actual'])
df_pred['Predicted'] = test_model
df_pred.head()

   Actual  Predicted
0       0          0
1       1          1
2       1          1
3       0          0
4       1          1